body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../IMG/Dog1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
  }
h1, h2, h3, h4, h5{
    color:rgba(231,110,46,255) ;
}
h1{
    margin-top: 35px;
}
/* Header */
header{
    width: 100%;
    padding: 5px 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(78, 77, 77, 0.9);
    color: white;
    position: fixed;
}
.admin_user{
    margin: 0;
}
.logout{
    text-align: right;
    padding-right: 50px;
    color: white;
}
.backend-message{
    position: absolute;
    width: 50%;
    text-align: center;
    background: white;
    left: 25%;
    font-size: 2rem;
    padding: 20px;
    color: green;
}
.body-container{
    display: flex;
    flex-direction: initial;
}

/* Navbar */

.navbar{
    position: absolute;
    top: 20%;
    height: 100vh;
    position: fixed;
}
.navbar-active{
    width:100%;
    top: 0;
    position: fixed;
}
.nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.nav-active{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    text-align: center;
    padding: 5% 0;
    margin: 0;
}
.hamburger{
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    position: fixed;
    background: white;
}
.btn{
    width: 150px;
    height: 50px;
    background: rgba(231,110,46,255);
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid black;
    color:#291814;
    border-radius:5px ;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: 2px 2px 7px black;
  }
  .btn-active{
    box-shadow: 2px 2px 7px white;
  }

/* Main */

main{
    width: 100%;
    float: right;
    min-height: 100vh;
}
.logo-name{
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: 4rem;
    text-shadow: 2px 2px 2px white ,5px 10px 7px rgb(0, 0, 0);
}
.h2-headline{
    position: absolute;
    left: 3%;
    font-size: 2rem;
    top: 0;
}
.form{
    margin: 20px auto;
    width: 50%;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.9), rgba(231,110,46, 0.9));
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 2px 2px 7px black;
}
.form-button{
    margin: 20px auto;
}
.input{
    margin: 10px auto;
    width: 50%;
    padding: 5px;
}
.main-page{
    color: white;
    font-size: 2rem;
}
.container{
    text-align: center;
    width: 80%;
    float: right;
    margin-right: 5%;
}
.form-label{
    display: block;
    font-size: 1.5rem;
    color: rgb(231,110,46);
}
/* Footer */

.footer-container{
    background: #402E32;
    color: rgba(231,110,46,255);
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 0.6rem 0;
}
.footer-container .cont-left{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 1rem 13rem;
}
.footer-container .cont-right{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.phone h4{
    margin: 20px 0;
}
.google_map{
    width: 600px;
    height: 250px;
}
.textarea{
    width: 400px;
    height: 200px;
}

/* Response */
@media screen and (max-width:1400px){
    .main{
        width: 100%;
    }
    .google_map{
        width: 500px;
    }
}
@media screen and (max-width:1000px){
    .nav{
        display: none;
    }
    .hamburger{
        display: initial;
    }
    .main{
        width: 100%;
        margin: 0;
    }
    .footer-container .cont-left{
        padding: 5rem 3rem 1rem 3rem;
    }
    .input{
        width: 80%;
    }
    .container{
        width: 90%;
        float: none;
        margin: 0 auto;
    }
}
@media screen and (max-width:850px){
    .google_map{
        width: 300px;
    }
}
@media screen and (max-width:640px) {
    .container{
        width: 100%;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .google_map{
        width: 300px;
        height: 250px;
    }
    .logo-name{
        top: 5%;
    }
    .form{
        width: 90%;
    }
}

@media screen and (max-width:390px){
    .footer-container .cont-right{
        padding: 0;
    }
    .google_map{
        width: 280px;
    }
    .form{
        padding: 0;
        width: 100%;
    }
    .form_small{
        margin-top: 120%;
    }
}