body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../IMG/Dog1.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
  }
h1, h2, h3, h4, h5{
    color:rgba(231,110,46,255) ;
}
/* Header */
header{
    width: 100%;
    padding: 5px 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(78, 77, 77, 0.9);
    color: white;
    position: fixed;
}
.admin_user{
    margin: 0;
}
.logout{
    text-align: right;
    padding-right: 50px;
    color: white;
}

/* Navbar */

.navbar{
    position:absolute;
    top: 25%;
    width: 20%;
    position: fixed;
}
.hamburger{
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    position: fixed;
    background: white;
    z-index: 100;
}
.btn{
    width: 150px;
    height: 50px;
    background: rgba(231,110,46,255);
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid white;
    color: white;
    border-radius:5px ;
    cursor: pointer;
    font-size: 1.1rem;
  }

/* Main */

main{
    width: 85%;
    float: right;
    margin: 50px 0;
}

/* Footer */

.footer-container{
    background: rgb(0, 0, 0);
    color: rgba(231,110,46,255);
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 0.6rem 0;
}
.footer-container .cont-left{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 1rem 3rem;
}
.footer-container .cont-right{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}
.phone h4{
    margin: 20px 0;
}
.google_map{
    width: 300px;
    height: 250px;
}

/* Response */
@media screen and (max-width:1400px){
    .main{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .main{
        width: 100%;
    }
}
@media screen and (max-width:640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
    .google_map{
        width: 300px;
        height: 250px;
    }
    main{
        margin: 150px 20px;
    }
}
