.container{
    margin: 16% 0 100px 0;
}
.headlines{
    width: 100%;
    height: auto;
}
.contact-input{
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(231,110,46);
    outline: none;
    text-align: center;
    color: #291814;
    transition: linear 0.3s;
}
.contact-input:valid,
.contact-input:focus{
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    background: rgb(231,110,46);
    border-radius: 20px;
}
.contact-textarea{
    border: 1px solid rgb(231,110,46);
    background: transparent;
    outline: none;
    color: #291814;
    padding: 10px 20px;
    transition: linear 0.3s;
}
.contact-textarea:valid,
.contact-textarea:focus{
    border: 1px solid white;
    font-size: 1.1rem;
    background: rgb(231,110,46);
    border-radius: 20px;
}
@media screen and (max-width:800px){
    .container{
        margin: 75% 0 100px 0;
        width: 100%;
    }
    .contact-textarea:valid,
    .contact-textarea:focus{
    font-size: 13px;
}
}