.gallery{
    margin: 100px 0;
    width: 100%;
}
.gallery-title{
    width: 500px;
    margin: 50px auto;
    font-size: 4rem;
    text-shadow: 2px 2px 2px white ,5px 10px 7px rgb(0, 0, 0);
}
.gallery-show{
    margin-left: auto;
}
.gallery-form{
    margin: 20px auto;
    width: 50%;
    background: rgba(78, 77, 77, 0.9);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.gallery-images{
    display: flex;
    flex-direction: column;
}
.gallery-img{
    margin: 30px 10px;
}
.gallery-img-text{
    background: white;
    font-size: 1.2rem;
}
@media screen and (max-width:1400px){
    .container{
        padding: 20px 100px;
    }
}
@media screen and (max-width:1000px){
    .container{
        padding: 0;
    }
    .gallery-show{
        width:100%;
    }
}
@media screen and (max-width:640px){
    .gallery-form{
        width: 90%;
    }
    .gallery-title{
        width: 400px;
    }
}