.gallery{
    margin: 100px 0;
    width: 100%;
}
.gallery-title{
    width: 400px;
    margin: 50px auto;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 2px white ,5px 10px 7px rgb(0, 0, 0);
}
.gallery-form{
    margin: 20px auto;
    width: 50%;
    background: rgba(231,110,46,255);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.gallery-form .input{
    margin: auto;
    width: 50%;
    border-radius: 50px;
    height: 25px;
    padding: 5px;
    font-size: 1.5rem;
}
.form-text{
    text-shadow: 2px 2px 2px black;
}
.gallery-submit{
    margin: 20px auto;
}