.container{
    margin-top: 16%;
}
.kennel{
    display: flex;
    flex-direction: initial;
}
.kennel-dogs{
    width: 33%;
    margin: 10px;
}
.one-dog{
    position: relative;
    background: rgba(231,110,46, 0.3);
    border-radius: 25px;
    text-align: left;
    padding: 0 20px;
    box-shadow: 2px 2px 7px black;
}
.dog-name{
    text-shadow: 2px 2px 2px black;
    color: white;
}
.dog-link{
    position: absolute;
    top: 25px;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 0 5px;
}
.dog-text{
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding:10px;
}
.dog-img{
    width: 100px;
}
.dog-img:hover{
    width: 200px;
}
.dog-edit-delete-button{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 0 5px;
    color: white;
}
.dog-admin{
    padding: 10px;
}
.create-dog{
    display: none;
}
#dog-man{
    display: none;
}
#dog-women{
    display: none;
}
#dog-pup{
    display: none;
}
@media screen and (max-width:1000px){
    .container{
        width: 100%;
    }
}
@media screen and (max-width:800px){
    .kennel{
        flex-direction: column;
    }
    .kennel-dogs{
        max-width: 90%;
        margin: 10px auto;
    }
}
