.create-link{
    background: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
}
.links{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.9), rgba(231,110,46, 0.9));
    border-radius: 50px;
    font-size: 1.1rem;
    margin: 20% 0;
    padding: 20px;
    box-shadow: 2px 2px 7px black;
}
.name-links{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #402E32;
}
.delete-link{
    margin-bottom: 20px;
}
.form_link{
    display: none;
}
.one-link{
    margin-bottom: 15px;
    background: -webkit-linear-gradient( 50deg, rgba(231,110,46, 0.9), rgba(0, 0, 0, 0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width:1400px){
    .container{
        width: 75%;
    }
}
@media screen and (max-width:640px){
    .links{
        margin-top: 100%;
    }
}
@media screen and (max-width:390px){
    .links{
        margin-top: 120%;
    }
}