.container{
    text-align: center;  
    width: 100%;
}
.headline{
    position: absolute;
    top: 5%;
    left: 3%;
    text-align: left;
}
.h2-headline{
    font-size: 2rem;
    margin: 0;
}
.h1-headline{
    font-size: 4rem;
    margin: 10px;
    text-shadow: 2px 2px 2px white ,5px 10px 7px rgb(0, 0, 0);
}
.services{
    margin: 200px 0 100px 0;
    height: 80vh;
}
.one-service{
    position: relative;
    display: flex;
    background: linear-gradient(135deg, rgba(231,110,46,0.3) 80%, white);
    border-radius: 50px;
    font-size: 1.1rem;
    margin: 5px;
    padding: 20px;
    border-left: 50px;
    height:40px;
}
.one-service:hover{
    background: linear-gradient(135deg, rgba(231,110,46,0.3) 20%, white);
}
.service-name{
    margin: 0.2%;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.price{
    position: absolute;
    top:15%;
    right:2%;
    color: black;
}
.delete-service{
    position: absolute;
    top:40%;
    right:10%;
    color: black;
}
.service-form{
    background: rgba(78, 77, 77, 0.9);
    width:200px;
    height: 250px;
    margin: 100px auto;
    padding: 10px;
}
.form-text{
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.service-form-button{
    margin-top: 20px;
}
.gallery-headline{
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
}
.create-gallery{
    text-align: right;
    margin-right: 20px;
}
.gallery{
    text-align: left;
}
.gallery-images{
    display: flex;
}
.gallery-img{
    position: relative;
    margin: 30px 10px;
}
.gallery-img-text{
    position: absolute;
    background: white;
    width: 100%;
}
.gallery-img-delete{
    position: absolute;
    top: 5px;
    right: 5px;
}
@media screen and (max-width:1400px){
    .container{
        padding-left: 20%;
        width: 80%;
    }
}
@media screen and (max-width:1000px){
    .container{
        width: 100%;
        padding-left: 0;
    }
    .gallery{
        padding: 5% 20%;
    }
}
@media screen and (max-width:640px){
    .container{
        width: 100%;
    }
}