{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/contact.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="headlines">
            <h2 class="h2-headline">Kontakt</h2>
            <h1 class="logo-name">Sweet Caramel Rose</h1>
        </div>
        
        <form method="POST" class="form">
            {% csrf_token%}
            <h3>Jméno</h3>{{ form.name }}
            <h3>E-mail</h3>{{ form.email }}
            <h3>Text</h3>{{ form.text }}<br/>
            <input type="submit" value="Odeslat" class="btn form-button">
        </form>
        
    </div>

{% endblock  %}