{% extends "base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="welcome">Vítejte na stránce</h2>
        <h1 class="logo-name">Sweet Caramel Rose</h1>
        <div class="user_block">
            {%for user in user_list%}
                <section class="block" >
                    <h2 class="user-name">{{user.name}}</h2>
                    {% if user.image %}
                        <img src="{{user.image.url}}" class="user-image" width="100"> 
                    {% endif %}
                    <p class="user-text">{{user.body}}</p>
                    <button class="login-button">Přihlásit</button>
                </section>
            {% endfor%}
        </div>

        {% if user.is_authenticated %}

        {% else %}


            <form method="POST" action="{% url 'home' %}" class="login-form" >
                {% csrf_token %}
                <input type="text" placeholder="Jméno" name="username" required>
                <br/>
                <input type="password" placeholder="Heslo" name="password" required>
                <br/>
                <button>Přihlásit</button>
            </form>

        {% endif %}
    </div>
{% endblock  %}