{% extends "base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/home.css' %}">
    <script src="{% static 'Scripts/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="welcome-image">
            <h2 class="h2-headline">Vítejte na stránce</h2>
            <h1 class="logo-name">Sweet Caramel Rose</h1>
        </div>
        <div class="user_block">
            {% for user_data in user_list %}
                <section>
                    <h2 class="user-name">{{user_data.name}}</h2>
                    {% if user_data.image %}
                        <img src="{{user_data.image.url}}" class="user-image" width="100"> 
                    {% endif %}
                    <p class="user-text">{{user_data.body}}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'edit-user' user_data.id %}"><button class="btn edit-user-data">Upravit profil</button></a>
                    {% else %}
                        <button class="login-button" id="login">Přihlásit</button>
                    {% endif  %}
                </section>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}

        {% else %}

            <div class="admin-login">
                <div class="login-form">
                    <button class="close" id="close"><img src="../static/IMG/close.png" width="30"></button>
                    <form method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        <input type="text" placeholder="Jméno" name="username" required class="input">
                        <br/>
                        <input type="password" placeholder="Heslo" name="password" required class="input">
                        <br/>
                        <button class="btn form-button">Přihlásit</button>
                    </form>
                </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock  %}