{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated%}
        <h1>Výtej uživateli</h1>
    {% endif %}

    <div class="user_block">
        {%for user in user_list%}
            <h2>{{user.name}}</h2>
            <p>{{user.body}}</p>
            <img src="{{user.image.url}}" width="200">
        {% endfor%}
    </div>

    {% if user.is_authenticated %}

    {% else %}

    <form method="POST" action="{% url 'home' %}" >
        {% csrf_token %}
        <input type="text" placeholder="Jméno" name="username" required>
        <br/>
        <input type="password" placeholder="Heslo" name="password" required>
        <br/>
        <button>Přihlásit</button>
    </form>

    {% endif %}

{% endblock  %}