{% extends "base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/kennel.css' %}">
    <script src="{% static 'Scripts/kennel.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="logo-name">Sweet Caramel Rose</h1>
        <h2></h2>
        <section class="kennel">
            <div class="kennel-dogs">
                <button class="btn dog-button" id="dog-man-button">Pes</button>
                <div id="dog-man">
                    {% for dog in dog_man %}
                        <div class="one-dog">
                            <h2 class="dog-name">{{dog.name}}</h2>
                            <a href="{{dog.link}}" class="dog-link">Odkaz</a>
                            <p class="dog-text">{{dog.body}}</p>
                            {% if dog.image1 %}
                                <img src="{{dog.image1.url}}" class="dog-img">
                            {% endif %}
                            {% if dog.image2 %}
                                <img src="{{dog.image2.url}}" class="dog-img">
                            {% endif %}
                            {% if dog.image3 %}
                                <img src="{{dog.image3.url}}" class="dog-img">
                            {% endif %}
                            <div class="dog-admin">
                                {% if user.is_authenticated %} 
                                    <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                    <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button">Odstranit</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="kennel-dogs">
                <button class="btn" id="dog-women-button">Fena</button>
                    <div id="dog-women">
                        {% for dog in dog_women %}
                            <div class="one-dog">
                                <h2 class="dog-name">{{dog.name}}</h2>
                                <a href="{{dog.link}}" class="dog-link">Odkaz</a>
                                <p class="dog-text">{{dog.body}}</p>
                                {% if dog.image1 %}
                                    <img src="{{dog.image1.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image3 %}
                                    <img src="{{dog.image3.url}}" class="dog-img">
                                {% endif %}
                                <div class="dog-admin">
                                    {% if user.is_authenticated %} 
                                        <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                        <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button">Odstranit</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="kennel-dogs">
                <button class="btn" id="dog-pup-button">Štěně</button>
                    <div id="dog-pup">
                        {% for dog in puppy %}
                            <div class="one-dog">
                                <h2 class="dog-name">{{dog.name}}</h2>
                                <a href="{{dog.link}}" class="dog-link">Odkaz</a>
                                <p class="dog-text">{{dog.body}}</p>
                                {% if dog.image1 %}
                                    <img src="{{dog.image1.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                <div class="dog-admin">
                                    {% if user.is_authenticated %} 
                                        <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                        <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button">Odstranit</a>
                                    {% endif %}
                                </div>
                                </div>
                        {% endfor %}
                    </div>
            </div>
        </section>
        
            {% if user.is_authenticated %}
                <button class="btn form-button" id="create-dog-button">Vytvořit psa</button>
                <section class="form create-dog" id="create-dog">
                    <form action="{% url 'kennel' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Jméno:</h3> {{form.name}}<br/>
                        <h3>Odkaz:</h3>{{form.link}}<br/>
                        <h3>Text:</h3>{{form.body}}<br/>
                        <h3>Pohlaví psa:</h3>{{form.dog_sex}}
                        <h3>Fotka1:</h3>{{form.image1}}<br/>
                        <h3>Fotka2:</h3>{{form.image2}}<br/>
                        <h3>Fotka3:</h3>{{form.image3}}<br/>
                        <input type="submit" value="Uložit" class="btn form-button">
                    </form>
                </section>
            {% endif %}
       
    </div>

    

{% endblock  %}