{% extends "base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/kennel.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h2 class="h2-headline">Chovatelská stanice</h2>
        <h1 class="logo-name">Sweet Caramel Rose</h1>
        <section class="kennel">
            <div class="kennel-dogs">
                <button class="btn dog-button" id="dog-man-button">Psi</button>
                <div id="dog-man">
                    {% for dog in dog_man %}
                        <div class="one-dog">
                            <h2 class="dog-name">{{dog.name}}</h2>
                            <div class="dog-text">
                                <table>
                                  <tr>
                                    <td>Barva:</td>
                                    <td class="td-text">{{dog.color}}</td>
                                  </tr>
                                  <tr>
                                    <td>Váha:</td>
                                    <td class="td-text">{{dog.weight}} kg</td>
                                  </tr>
                                  <tr>
                                    <td>Výška:</td>
                                    <td class="td-text">{{dog.height}} cm</td>
                                  </tr>
                                  <tr>
                                    <td class="first-td">Patel:</td>
                                    <td class="td-text">{{dog.patel}}</td>
                                  </tr>
                                  <tr>
                                    <td class="first-td">Ocenění:</td>
                                    <td class="td-text">{{dog.body}}</td>
                                  </tr>
                                </table>
                               
                            </div>
                            {% if dog.image1 %}
                                <img src="{{dog.image1.url}}" class="dog-img">
                            {% endif %}
                            {% if dog.image2 %}
                                <img src="{{dog.image2.url}}" class="dog-img">
                            {% endif %}
                            {% if dog.image3 %}
                                <img src="{{dog.image3.url}}" class="dog-img">
                            {% endif %}
                            <div class="dog-admin">
                                {% if user.is_authenticated %} 
                                    <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                    <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button right">Odstranit</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="kennel-dogs">
                <button class="btn" id="dog-women-button">Feny</button>
                    <div id="dog-women">
                        {% for dog in dog_women %}
                            <div class="one-dog">
                                <h2 class="dog-name">{{dog.name}}</h2>
                                <div class="dog-text">
                                    <table>
                                        <tr>
                                          <td>Barva:</td>
                                          <td class="td-text">{{dog.color}}</td>
                                        </tr>
                                        <tr>
                                          <td>Váha:</td>
                                          <td class="td-text">{{dog.weight}} kg</td>
                                        </tr>
                                        <tr>
                                          <td>Výška:</td>
                                          <td class="td-text">{{dog.height}} cm</td>
                                        </tr>
                                        <tr>
                                          <td class="first-td">Patel:</td>
                                          <td class="td-text">{{dog.patel}}</td>
                                        </tr>
                                        <tr>
                                          <td class="first-td">Ocenění:</td>
                                          <td class="td-text">{{dog.body}}</td>
                                        </tr>
                                      </table>
                                </div>
                                {% if dog.image1 %}
                                    <img src="{{dog.image1.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image3 %}
                                    <img src="{{dog.image3.url}}" class="dog-img">
                                {% endif %}
                                <div class="dog-admin">
                                    {% if user.is_authenticated %} 
                                        <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                        <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button right">Odstranit</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <div class="kennel-dogs">
                <button class="btn" id="dog-pup-button">Štěňata</button>
                    <div id="dog-pup">
                        {% for dog in puppy %}
                            <div class="one-dog">
                                <h2 class="dog-name">{{dog.name}}</h2>
                                <div class="dog-text">
                                    <p>Barva: {{dog.color}}</p>
                                    <table>
                                        <tr>
                                          <td>Barva:</td>
                                          <td class="td-text">{{dog.color}}</td>
                                        </tr>
                                        <tr>
                                          <td>Váha:</td>
                                          <td class="td-text">{{dog.weight}} kg</td>
                                        </tr>
                                        <tr>
                                          <td>Výška:</td>
                                          <td class="td-text">{{dog.height}} cm</td>
                                        </tr>
                                        <tr>
                                          <td class="first-td">Patel:</td>
                                          <td class="td-text">{{dog.patel}}</td>
                                        </tr>
                                        <tr>
                                          <td class="first-td">Ocenění:</td>
                                          <td class="td-text">{{dog.body}}</td>
                                        </tr>
                                      </table>
                                </div>
                                
                                {% if dog.image1 %}
                                    <img src="{{dog.image1.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                {% if dog.image2 %}
                                    <img src="{{dog.image2.url}}" class="dog-img">
                                {% endif %}
                                <div class="dog-admin">
                                    {% if user.is_authenticated %} 
                                        <a href="{% url 'update' dog.id %}" class="dog-edit-delete-button">Upravit</a>
                                        <a href="{% url 'delete-dog' dog.id %}" class="dog-edit-delete-button right">Odstranit</a>
                                    {% endif %}
                                </div>
                                </div>
                        {% endfor %}
                    </div>
            </div>
        </section>
        
            {% if user.is_authenticated %}
                <button class="btn form-button" id="create-dog-button">Vytvořit psa</button>
                <section class="form create-dog" id="create-dog">
                    <form action="{% url 'kennel' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Jméno</h3>{{form.name}}
                        <h3>Barva</h3>{{form.color}}
                        <h3>Váha</h3>{{form.weight}}
                        <h3>Výška</h3>{{form.height}}
                        <h3>Patel</h3>{{form.patel}}
                        <h3>Text</h3>{{form.body}}
                        <h3>Pohlaví psa</h3>{{form.dog_sex}}
                        <h3>Fotka1</h3>{{form.image1}}<br/>
                        <h3>Fotka2</h3>{{form.image2}}<br/>
                        <h3>Fotka3</h3>{{form.image3}}<br/>
                        <input type="submit" value="Uložit" class="btn form-button">
                    </form>
                </section>
            {% endif %}
       
    </div>

    

{% endblock  %}