{% extends "base.html" %}

{% block content %}

    <div>
        {% for dog in dog_man %}
            <h2>{{dog.name}}</h2>
            <p>{{dog.link}}</p>
            <p>{{dog.body}}</p>
            <img src="{{dog.image1.url}}" width="200">
            <img src="{{dog.image2.url}}" width="200">
            <img src="{{dog.image3.url}}" width="200">
            {% if user.is_authenticated %} 
                <a href="{% url 'update' dog.id %}">Upravit</a>
            {% endif %}

        {% endfor %}

        {% for dog in dog_women %}
            <h2>{{dog.name}}</h2>
            <p>{{dog.link}}</p>
            <p>{{dog.body}}</p>
            <img src="{{dog.image1.url}}" width="200">
            <img src="{{dog.image2.url}}" width="200">
            <img src="{{dog.image3.url}}" width="200">

            {% if user.is_authenticated %} 
                <a href="{% url 'update' dog.id %}">Upravit</a>
            {% endif %}

        {% endfor %}

        {% for dog in puppy %}
            <h2>{{dog.name}}</h2>
            <p>{{dog.link}}</p>
            <p>{{dog.body}}</p>
            <img src="{{dog.image1.url}}" width="200">
            <img src="{{dog.image2.url}}" width="200">
            <img src="{{dog.image3.url}}" width="200">

            {% if user.is_authenticated %} 
                <a href="{% url 'update' dog.id %}">Upravit</a>
            {% endif %}

        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'kennel' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Jméno:</h3> {{form.name}}<br/>
            <h3>Odkaz:</h3>{{form.link}}<br/>
            <h3>Text:</h3>{{form.body}}<br/>
            <h3>Pohlaví psa:</h3>{{form.dog_sex}}
            <h3>Fotka1:</h3>{{form.image1}}<br/>
            <h3>Fotka2:</h3>{{form.image2}}<br/>
            <h3>Fotka3:</h3>{{form.image3}}<br/>
            <input type="submit" value="Uložit" class="">
        </form>
    {% endif %}

{% endblock  %}