{% extends "base.html" %}
{% load static %}
{% block styling %}
    <link rel="stylesheet", href="{% static 'Styles/service.css' %}">
    <script src="{% static 'Scripts/service.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="h2-headline">Péče o zvířata</h2>
        <h1 class="logo-name">U sladké růže</h1>
            
        <section class="services">
            {% for service in services %}
                <div class="one-service">
                    <h2 class="service-name">{{service.name}}</h2>
                    <p class="price">Od {{service.price}} Kč</p>

                    {% if user.is_authenticated %}
                        <button class="delete-service"><a href="{% url 'delete-service' service.id %}" >Odstranit</a></button>
                    {% endif %}
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
                <button class="btn create-service" id="create-service">Vytvořit novou službu</button>
                <form action="{% url 'service' %}" method="POST" class="form service-form" id="service-form">
                    {% csrf_token %}
                    <h3>Nézev:</h3> <div class="input">{{form.name}}</div><br/>
                    <h3>Cena:</h3> <div class="input">{{form.price}}</div><br/>
                    <input type="submit" value="Uložit" class="btn form-button">
                </form>
            {% endif %}
        </section>

        
        <section class="gallery">
            <h2 class="gallery-headline">Galerie</h2>
            <div class="create-gallery">
                {% if user.is_authenticated %}
                        <a href="{% url 'gallery' %}"><button class="btn">Vytvořit galerii</button></a>
                {% endif %}
            </div>
            <div class="gallery-images">
                {% for image in galery %}
                    <div class="gallery-img">
                        <h2 class="service-name-active">{{image.service}}</h2>
                        <img src="{{ image.image.url }}"><br/>
                        <p class="gallery-img-text">{{image.text}}</p>
                        {% if user.is_authenticated %}
                            <div class="admin-button-delete">
                                <button class="gallery-img-delete"><a href="{% url 'delete-img' image.id %}">Smazat fotku</a></button>
                            </div>
                        {% endif %}
                                
                    </div>
                {% endfor %}
            </div>
            <div class="gallery-buttons">
                <button class="close" id="close"><img src="../static/IMG/close.png" width="30"></button>
                <button class="left" id="left"><img src="../static/IMG/left.png" width="30"></button>
                <button class="right" id="right"><img src="../static/IMG/right.png" width="30"></button>
            </div>
            <br/>
        </section>
    </div>
{% endblock  %}

<!--
<section class="gallery-active">
            
    {% for image in galery %}
        <div class="slide ">
            <h2>{{image.service}}</h2>
            <img src="{{ image.image.url }}" class="image-active" ><br/>
            <p class="text-active">{{image.text}}</p>
        </div>
    {% endfor %}
    </div>
</section>