{% extends "base.html" %}
{% load static %}

{% block content %}

    {% for service in services %}
        <h2>{{service.name}}</h2>
        <p>{{service.price}}</p>

        {% if user.is_authenticated %}
            <a href="{% url 'delete-service' service.id %}">Odstranit</a>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <form action="{% url 'service' %}" method="POST">
            {% csrf_token %}
            <h3>Name:</h3> {{form.name}}<br/>
            <h3>Cena:</h3> {{form.price}}<br/>
            <input type="submit" value="Uložit" class="">
        </form>
    {% endif %}

    <h2>Galerie</h2>
    {% for service in services %}
        <h2>{{service.name}}</h2>
        {% for image in galery %}
            {% if image.service == service.name %}
                <img src="{{ image.image.url }}" width="200"><br/>
                {{image.text}} 
            {% endif %}
        {% endfor %}
    {% endfor %}
    <br/>
    {% if user.is_authenticated %}
        <a href="{% url 'gallery' %}">Vytvořit galerii</a>
    {% endif %}

{% endblock  %}