{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
    <div class="container">
        {% if user.is_authenticated %}
        <h1>Úprava psa</h1>
        <form method="POST" class="form" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{form.as_p}}
            <br/>
            <input type="submit" value="Uložit" class="btn form-button">
        </form>
        

        {% else %}
        <h1>Nejste Přihlášení! </h1>
        <a href="{% url 'home' %}" class="main-page"><button class="btn">Přejít na Hlavní stránku</button></a>

        {% endif %}
    </div>
    

{% endblock  %}